pandas
numpy
pyarrow
torch
transformers
datasets
tokenizers
lightgbm
xgboost
scikit-learn
d3rlpy
gymnasium
stable-baselines3
cvxpy
scipy
empyrical
matplotlib
plotly
pyyaml
pytest
ruff
black
pre-commit
